#s-0c56c401-7e3c-43da-b796-0150815aaea4 > #backgroundBox {
  position: absolute;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_1 {
  position: absolute;
  width: 428.00000000000034px;
  height: 63.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_1 {
  position: absolute;
  width: 428.00000000000034px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_20 {
  position: absolute;
  width: 29.21800994873047px;
  height: 25.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_13 {
  position: absolute;
  width: 30.0px;
  height: 30.00002098083496px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Panel_1 {
  width: 463.91893744468416px;
  height: 804.3005251558136px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_2 {
  position: absolute;
  width: 463.41893744468416px;
  height: 455.3021238508063px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_2 {
  position: absolute;
  width: 426.7499999999994px;
  min-height: 332.6599593837864px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_2 {
  position: absolute;
  width: 20.0px;
  height: 24.471664428710938px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Ellipse_2 {
  width: 43.31835937500048px;
  height: 44.82773604823012px;
  min-height: 44.82773604823012px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_3 {
  position: absolute;
  width: 20.0px;
  height: 24.471664428710938px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_4 {
  position: absolute;
  width: 118.28125px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_4 {
  position: absolute;
  width: 20.0px;
  height: 24.471664428710938px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_4 {
  position: absolute;
  width: 52.0px;
  height: 23.81490124658768px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_5 {
  position: absolute;
  width: 25.0px;
  height: 23.81490135192871px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_7 {
  position: absolute;
  width: 118.28125px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_6 {
  position: absolute;
  width: 20.0px;
  height: 4.2412567138671875px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_3 {
  position: absolute;
  width: 49.79296875px;
  height: 20.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_25 {
  position: absolute;
  width: 18.184579849243164px;
  height: 18.184539794921875px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_12 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_5 {
  position: absolute;
  width: 428.00000000000034px;
  height: 153.4992006525033px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Ellipse_3 {
  width: 48.26620972990612px;
  height: 44.82773604823001px;
  min-height: 44.82773604823001px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_3 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_10 {
  position: absolute;
  width: 421.3146762121705px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_10 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_6 {
  position: absolute;
  width: 49.79296875px;
  height: 20.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_7 {
  position: absolute;
  width: 18.184579849243164px;
  height: 18.184539794921875px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_13 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_7 {
  position: absolute;
  width: 428.00000000000034px;
  height: 153.4992006525033px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Ellipse_4 {
  width: 48.26620972990612px;
  height: 44.82773604823001px;
  min-height: 44.82773604823001px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_4 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_14 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_15 {
  position: absolute;
  width: 421.3146762121705px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_8 {
  position: absolute;
  width: 49.79296875px;
  height: 20.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_8 {
  position: absolute;
  width: 18.184579849243164px;
  height: 18.184539794921875px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_16 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_9 {
  position: absolute;
  width: 428.00000000000034px;
  height: 153.4992006525033px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Ellipse_5 {
  width: 48.26620972990612px;
  height: 44.82773604823001px;
  min-height: 44.82773604823001px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_5 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_17 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_18 {
  position: absolute;
  width: 421.3146762121705px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_18 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_10 {
  position: absolute;
  width: 49.79296875px;
  height: 20.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_9 {
  position: absolute;
  width: 18.184579849243164px;
  height: 18.184539794921875px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_19 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_11 {
  position: absolute;
  width: 428.00000000000034px;
  height: 153.4992006525033px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Ellipse_6 {
  width: 48.26620972990612px;
  height: 44.82773604823001px;
  min-height: 44.82773604823001px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_6 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_20 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_21 {
  position: absolute;
  width: 421.3146762121705px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_21 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_12 {
  position: absolute;
  width: 49.79296875px;
  height: 20.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_10 {
  position: absolute;
  width: 18.184579849243164px;
  height: 18.184539794921875px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_22 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_22 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_13 {
  position: absolute;
  width: 428.00000000000034px;
  height: 153.4992006525033px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_7 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Ellipse_7 {
  width: 48.26620972990612px;
  height: 44.82773604823001px;
  min-height: 44.82773604823001px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_7 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_23 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_23 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_24 {
  position: absolute;
  width: 421.3146762121705px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_24 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_14 {
  position: absolute;
  width: 49.79296875px;
  height: 20.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_11 {
  position: absolute;
  width: 18.184579849243164px;
  height: 18.184539794921875px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_25 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_15 {
  position: absolute;
  width: 428.00000000000034px;
  height: 153.4992006525033px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Ellipse_8 {
  width: 48.26620972990612px;
  height: 44.82773604823001px;
  min-height: 44.82773604823001px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_8 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_26 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_26 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_27 {
  position: absolute;
  width: 421.3146762121705px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_27 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Slice_16 {
  position: absolute;
  width: 49.79296875px;
  height: 20.0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Path_12 {
  position: absolute;
  width: 18.184579849243164px;
  height: 18.184539794921875px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_28 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_28 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0c56c401-7e3c-43da-b796-0150815aaea4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}