#s-a70d6c07-48c0-47ed-b39c-081abf0af86b > #backgroundBox {
  position: absolute;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Slice_2 {
  position: absolute;
  width: 428.00000000000034px;
  height: 63.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_2 {
  position: absolute;
  width: 428.00000000000034px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_2 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Slice_4 {
  position: absolute;
  width: 402.0px;
  height: 214.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Ellipse_1 {
  width: 80.0px;
  height: 82.8493721022027px;
  min-height: 82.8493721022027px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #shapewrapper-s-Ellipse_1 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_3 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_4 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_5 {
  position: absolute;
  width: 378.125px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Slice_3 {
  position: absolute;
  width: 427.99999999999994px;
  height: 490.3021238508054px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Table_1 {
  position: absolute;
  width: 427.99999999999994px;
  height: 490.3021238508054px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_1 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_1 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_4 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_4 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_4 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_7 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_7 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_2 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_2 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_2 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_2 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_5 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_5 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_8 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_8 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_3 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_3 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_3 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_6 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_6 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_9 {
  width: 33.0%;
  height: 33.0%;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Cell_9 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image_1 {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image_2 {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image_3 {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image_4 {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image_5 {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image_6 {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image_7 {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Image_8 {
  position: absolute;
  width: 143.0px;
  height: 164.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Slice_1 {
  position: absolute;
  width: 428.00000000000006px;
  height: 56.66666666666674px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_1 {
  position: absolute;
  width: 428.00000000000006px;
  min-height: 56.66666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Slice_5 {
  position: absolute;
  width: 182.99999999999977px;
  height: 39.98066595064711px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Path_1 {
  position: absolute;
  width: 50.0px;
  height: 33.529396057128906px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Path_2 {
  position: absolute;
  width: 40.0px;
  height: 39.98066711425781px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Path_4 {
  position: absolute;
  width: 40.0px;
  height: 35.00824737548828px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Slice_6 {
  position: absolute;
  width: 112.01660060882568px;
  height: 36.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 {
  position: absolute;
  width: 120.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_6 {
  position: absolute;
  width: 62.999999999999886px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Path_37 {
  position: absolute;
  width: 19.740249633789062px;
  height: 19.300769805908203px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Slice_8 {
  position: absolute;
  width: 112.01660060882568px;
  height: 40.031006052675366px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_4 {
  position: absolute;
  width: 120.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_4 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_7 {
  position: absolute;
  width: 64.99999999999991px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Path_36 {
  position: absolute;
  width: 19.740249633789062px;
  height: 19.300769805908203px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Path_63 {
  position: absolute;
  width: 32.94009017944336px;
  height: 35.0px;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b #s-Path_3 {
  position: absolute;
  width: 29.21800994873047px;
  height: 25.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a70d6c07-48c0-47ed-b39c-081abf0af86b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}