#s-bf421439-6f91-4569-9369-cd3ee4a7a051 > #backgroundBox {
  position: absolute;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Slice_2 {
  position: absolute;
  width: 428.00000000000034px;
  height: 63.0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_1 {
  position: absolute;
  width: 428.00000000000034px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Path_2 {
  position: absolute;
  width: 30.0px;
  height: 37.87187194824219px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Slice_3 {
  position: absolute;
  width: 399.00000000000034px;
  height: 433.25469168900827px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_2 {
  position: absolute;
  width: 399.0000000000003px;
  min-height: 332.6599593837863px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Path_1 {
  position: absolute;
  width: 30.0px;
  height: 25.731220245361328px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 {
  position: absolute;
  width: 395.71094632148686px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Path_11 {
  position: absolute;
  width: 30.000001907348633px;
  height: 24.42038345336914px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #999999;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Button_1 span {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 {
  position: absolute;
  width: 182.1434781530634px;
  min-height: 40.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_8 {
  position: absolute;
  width: 182.1434781530634px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_8 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_2 {
  position: absolute;
  width: 125.3478260869565px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Path_3 {
  position: absolute;
  width: 19.230510711669922px;
  height: 16.6552791595459px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Path_4 {
  position: absolute;
  width: 21.735370635986328px;
  height: 16.989299774169922px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_3 {
  position: absolute;
  width: 90.79130434782564px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 #s-Path_5 {
  position: absolute;
  width: 29.21800994873047px;
  height: 25.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bf421439-6f91-4569-9369-cd3ee4a7a051 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}